{% extends 'main/base.html' %}

{% block content %}
<div class="clearfix">
	<a class="btn btn-primary btn-lg" role="button" style="float: left" href="{% url 'main:calendar' %}?{{ prev_month }}"> Previous Month </a>
	<a class="btn btn-primary btn-lg" role="button" style="float: right" href="{% url 'main:calendar' %}?{{ next_month }}"> Next Month </a>
	<a class="btn btn-primary btn-lg" role="button" style="float: right"  href="{% url 'main:event_new' %}"> Create New Event </a>
</div>

{{ calendar }}

{% endblock %}